.Weather .container {
  background: linear-gradient(0.25turn, #eabaee, #ebf8e1, #a4d1f5);
  border: 2px dotted rgb(160, 82, 94);
  border-radius: 15px;
  padding: 15px;
  margin: 30px auto;
  max-width: 600px;
}

.Weather .weather-app {
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 550px;
}

canvas {
  display: block;
  margin: 0 auto;
}

.Weather .search-form {
  margin-bottom: 25px;
}


.btn-color{
  background-color: #353090;
}

.btn-edit{
  background-color: rgb(242, 61, 134);
}



